.youtube {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

.MuiTypography-h5 {
  color: #d3d3d3;
}

body {
  font-family: 'Medieval'
}

@font-face {
  font-family: 'GameOfThrones';
  src: url('/Game of Thrones.ttf') format('truetype');
}

@font-face {
  font-family: 'Medieval';
  src: url('/1529 Champ Fleury W01 Regular.ttf') format('truetype');
}

.MuiDrawer-paper {
  background-color: rgb(255, 255, 255,0);
  background: url("https://static.vecteezy.com/system/resources/previews/012/981/812/original/old-parchment-paper-sheet-vintage-aged-or-texture-background-png.png");
  background-position: left center;
  box-shadow: none;
  padding-left: 5vw;
}