.youtube {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

.MuiTypography-root {
  color: #d3d3d3;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('/Game of Thrones.ttf') format('truetype');
}