.youtube {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

.MuiFab-circular:hover, .MuiFab-outlined:hover {
  background-color: rgba(255,255,255,0.2) !important;
}

.MuiSlider-vertical {
  color: rgba(255,255,255,0.5) !important;
}

.MuiTypography-h5 {
  color: #d3d3d3;
}

body {
  font-family: 'Medieval'
}

.MuiTypography-body2 {
  font-family: 'Medieval';
  font-weight: 800;
}

.MuiTypography-body1 {
  font-family: 'Medieval';
}

.Mui-checked {
  color: #2b2b2b !important;
}

.MusicList {
  height: 92vh !important;
}

@font-face {
  font-family: 'GameOfThrones';
  src: url('/Game of Thrones.ttf') format('truetype');
}

@font-face {
  font-family: 'Medieval';
  src: url('/1529 Champ Fleury W01 Regular.ttf') format('truetype');
}

.MuiDrawer-paper {
  background-color: hsla(0,0%,100%,0) !important;
  background: url("https://static.vecteezy.com/system/resources/previews/012/981/812/original/old-parchment-paper-sheet-vintage-aged-or-texture-background-png.png");
  background-position: left center;
  box-shadow: none;
  padding-left: 5vw;
}